[submodule "src/aws-sdk-php"]
	path = src/aws-sdk-php
	url = https://github.com/aws/aws-sdk-php
[submodule "src/symfony"]
	path = src/symfony
	url = https://github.com/symfony/symfony
[submodule "src/guzzle"]
	path = src/guzzle
	url = https://github.com/guzzle/guzzle
[submodule "src/stash"]
	path = src/stash
	url = https://github.com/tedivm/Stash
[submodule "src/php-benchmark"]
	path = src/php-benchmark
	url = https://github.com/lavoiesl/php-benchmark.git
